.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  height: 60px;
  width: 50vw;
  padding: 0 50px;
  border-radius: 28px;
  border: 1px solid grey;
  font-size: 15px;
}

.iconContainer {
  position: absolute;
  left: 18px;
  font-size: 15px;
}
.download {
  margin-left: 30px;
  color: #181887;
  padding: 15px;
  background: rgba(58, 45, 16, 0.066);
  border-radius: 50%;
}
